@value primary-dark-color: #424242;
@value primary-white-color: #fff;
@value primary-accent-color: #2196f3;
@value secondary-accent-color: #1967d2;
@value orange-accent-color: #ffa500;
@value limegreen-accent-color: #32cd32;
@value grey-color: #bdbdbd;
